# pycharm
.idea

# python
.venv
/venv/
/env/
/venv1/
__pycache__

# allure
allure-results
allure-report

# testing artifacts
*.html
*.json
videos
tracing

# test
tests/test_fixtures.py
tests/test_pytest.py
tests/test_reruns.py
pydantic_product.py
pydantic_user.py

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json